  * {
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  .pagprincipal {
    position: absolute;
    width: 100px;
    right: 47%;
    height: auto;
    z-index: 3;
  }

  form {
    width: 1100px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
  }

  h2 {
    text-align: center;
    margin: 90px;
    font-size: 60px;
  }

  label {
    position: relative;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;

  }

  .items {
    position: relative;
    z-index: 2;
    background-color: black;

  }

  .nav1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-size: 15px;
    font-family: "Bebas Neue", sans-serif;

  }

  a {
    text-decoration: none;
    color: white;
  }

  .nom {
    width: 46%;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    box-shadow: none;
    border-color: white;
    border-width: 4px;
  }

  textarea {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-width: 100%;
  }

  .btn-enviar:hover {
    cursor: pointer;

  }